body{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}
.App {
  text-align: center;
  background-image: url("https://img.freepik.com/premium-vector/white-abstract-background-3d-paper-style_23-2148396396.jpg?w=2000");
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding-top: auto;
  margin: 0;
}
.toolbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.them {
  text-align: center;
  background-image: url("https://fondosmil.com/fondo/35152.jpg");
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding-top: auto;
  margin: 0;
}

.login{
  text-align: center;
}

.inicio{
  
  box-sizing: border-box;
  width: 100%;
 
  padding: 15px;
  
  
  
  }
.fundadores{
    
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 15px;
    justify-content: flex-start;
}

  
.link{
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
  flex-direction: column;
}



.big{
  font-size: 2.2em;
  
}
.Tparrafo{
  text-align: left;
  font-size: 1.2em;
  padding: 50px;
}




.icon{
  color: aliceblue;
}

.tbar{
  
  justify-content:space-between;



 
}

.texto_login{
  text-align: center;

}

.footer {
  text-align: center;
  padding: 1em 0;
  height: 120px;
  margin-bottom: auto;
}

.fotos{
  height: 600px;
  padding: 3em;
  display: flex;
}
.inicio1{
  display: flex;
}
.inicio2{
  text-align:left;
  width: 50%;
  padding: 3em;
}
.img { 
  padding: 10px; 
  margin: 10px; 
  
  float: right;
  width: 40%;
  
 }
.tiv{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.caja{
  width: 30%;
  text-align: left;
  flex-direction: column;
}
.caja1{
  padding: 10px; margin: 10px; border: 2px solid black;
}
.caja2{
  padding: 10px; margin: 10px; border: 2px solid black;
}
.caja3{
  padding: 10px; margin: 10px; border: 2px solid black;
}
.strong{
  flex-direction: column;
  text-align: right;
  width: 50%;
  font-size: xx-large;
}
.stron{
font-size: small;
}

.Navbar{
  position:fixed;
  bottom: 0;
}
.tabs{
  justify-content: space-around;
}
.hola{
  justify-content: space-around;
}
.titulo{
  margin: 20;
  padding-top: 50px;
}
.divs{
  margin-top:45px;
  color: rgb(33, 33, 30);
  background-color: rgb(155, 154, 153);
  width:100%;

}
