.App {
  text-align: center;
  background-image: url("https://img.freepik.com/premium-vector/white-abstract-background-3d-paper-style_23-2148396396.jpg?w=2000");
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}


.inicio{
  
  background-image: url("https://img.freepik.com/premium-vector/white-abstract-background-3d-paper-style_23-2148396396.jpg?w=2000");
  box-sizing: border-box;
  width: 100%;
 
  padding: 15px;
  
  
  
  }
.fundadores{
    
    background-image: url('https://img.freepik.com/premium-vector/white-abstract-background-3d-paper-style_23-2148396396.jpg?w=2000');
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 15px;
    justify-content: flex-start;
}

  
.link{
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;
  flex-direction: column;
}



.big{
  font-size: 2.2em;
  
}
.Tparrafo{
  text-align: left;
  font-size: 1.2em;
  padding: 50px;
}






.tbar{
  
  justify-content:space-between;



 
}

.texto_login{
  text-align: center;

}

.footer {
  margin-top: auto;
}



