*{
  margin: 0px;
  padding: 0px;

}
:root {
--color-fondo: #0000;

}

body{
 background-color: var(--color-fondo);
 height: 1000px;
  
  
  
}

  
  
  
  


.caja{
  background: rgb(63,94,251);
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,70,1) 52%);
  
  
  
}






